body {

    background-color: #F4F3FF !important;

}

/*================= Inicio estilos para el menu sticky =================*/

.menu-sticky {

    background-color: white;
    position: sticky;
    top: 0;
    height: 100vh;

}

@media (max-width:991px){

.menu-sticky{

    position:relative;

    width:100%;

    height:auto;

}

}

.contenido {

    background-color: #F4F3FF;
    min-height: 100vh;

}

.logo-nfc {

    background-color: #226D00;

}

.btn-accion {

    display: inline-block;
    transition: all 0.3s ease-in-out;

}

.btn-accion:hover {

    background-color: #EFF2FD;

}

.btn-accion-activo {

    display: inline-block;
    background-color: #EFF2FD;
    border-right: 3px solid #226D00;
    transition: all 0.3s ease-in-out;

}

/*================= Fin estilos para el menu sticky =================*/





/*================= Inicio estilos para el contenido =================*/

.caja {

    background-color: white;
    border: 1px solid #e6efe2;

}

.seleccion {

    border: 1px solid #e6efe2;

}

.icono-resumen{

    background-color: #E7E7F2;
    font-size: 1rem;

}

/*Inicio estilos para el boton de NFC*/
.nfc-scan,
.nfc-scan-off{

    font-size: 3rem !important;
    padding: 1rem !important;
    border-radius: 100%;
    transition: all .3s ease;

}

.nfc-scan{

    color: white;
    background-color: #226D00;

}

.nfc-scan-off{

    color: white;
    background-color: #BDBDBD;

}

#btnNFC{

    transition: all .3s ease;

}

#btnNFC:hover{

    transform: scale(1.02);

}
/*Fin de los estilos para el boton de NFC*/

.icono-aprendiz {

    background-color: #F2F2FA;
    color: #7E808A;
    padding: 10px;
    border-radius: 100%;

}

.btn-outline-custom {

    color: #226D00 !important;
    border: 2px solid #226D00 !important;
    transition: all .3s ease;

}

.btn-outline-custom:hover,
.btn-outline-custom:focus,
.btn-outline-custom:active {

    background-color: #226D00 !important;
    color: #fff !important;
    border-color: #226D00 !important;

}

.btn-outline-custom .material-symbols-outlined {

    color: inherit;

}

/*Estilo responsive para que las cajas ocupen todo el contentido en pantallas lg*/
@media (min-width: 992px) {

    .contenido{

        min-height: 100vh;

    }

}

.btn-custom {

    background-color: #226D00 !important;
    color: white !important;
    border: 2px solid #226D00 !important;
    transition: all .3s ease;

}

.btn-custom:hover {

    background-color: #298300 !important;

}









/*========== Inicio Estilos Resumen ==========*/

.logo-central {

    font-size: 4rem !important;
    padding: 1.5rem;
    background-color: #E7F7EF;
    border: 1px solid #C7EED7;
    transition: all 0.3s ease-in-out;

}

.logo-central:hover {

    transform: scale(1.03);

}

.caja-conteo {

    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;

}

.caja-conteo:hover {

    transform: scale(1.03);

}

.logo-conteo {

    background-color: #E5F6EF;
    border-radius: 100%;
    padding: 0.7rem;
    width: fit-content;

}

.boton-regresar {

    background-color: #226D00;
    padding: 1rem 1rem;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease-in-out;

}

.boton-regresar:hover {

    background-color: #298300;
    transform: scale(1.03);

}

/*========== Fin Estilos Resumen ==========*/