body {

    background-color: #F4F3FF;

}

/*================= Inicio estilos para el menu sticky =================*/

.menu-sticky {

    background-color: white;

}

.logo-nfc {

    background-color: #226D00;

}

.contenido {

    background-color: #F4F3FF;

}

/*================= Fin estilos para el menu sticky =================*/