body {

    background-color: #F4F3FF;

}

/*================= Inicio estilos para el menu sticky =================*/

.menu-sticky {

    background-color: white;
    position: sticky;
    top: 0;
    height: 100vh;

}

.contenido {

    background-color: #F4F3FF;

}

.logo-nfc {

    background-color: #226D00;

}

.btn-accion {

    display: inline-block;

}

.btn-accion-activo {

    display: inline-block;
    background-color: #EFF2FD;
    border-right: 3px solid #226D00;

}

/*================= Fin estilos para el menu sticky =================*/